@import 'src/variables';

.container {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background-color: rgba(blue, 0.5);
    z-index: 2;
}

.wrapper {
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    padding: 30px;
    border-radius: inherit;
    background-color: $red;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    h2 {
        margin: 0 10px 0 0;
        font-size: 40px;
    }

    svg {
        font-size: 40px;
    }
}

.result {
    font-size: 24px;

    p {
        margin: 0 0 10px;
    }

    svg {
        font-size: 40px;
    }

    span {
        font-weight: bold;
    }
}

.bottom {
    display: flex;
    justify-content: space-around;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        font-size: 60px;
        cursor: pointer;
        transition: $animation;
        opacity: 0.6;
        background-color: transparent;
        border: none;

        &:hover,
        &:focus
        &:active {
            opacity: 1;
            font-size: 65px;
        }
    }
}