@import "src/variables";

.wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    left: 5px;
    top: 5px;
    width: fit-content;
    color: yellow;
    font-size: clamp(25px, 8vw, 80px);

    svg {
        color: orange;
        margin-right: 10px;
    }

    p {
        font-family: $caveat;
        font-weight: bold;
        color: $blue;
        margin: 0;
    }
}