@import 'src/variables';

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;

    h1 {
        font-size: 100px;
        margin: 0;
        text-transform: uppercase;
        color: $blue;
    }

    img {
        width: 60%;
        height: auto;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        border: none;
        background-color: transparent;
        font-size: 150px;
        cursor: pointer;

        svg path {
            transition: $animation;
            stroke: $red;
            fill: $blue;
        }

        &:hover svg path,
        &:focus svg path,
        &:active svg path {
            stroke: $active_red;
            fill: $active_blue;
            stroke-width: 2.5;
        }
    }
}