@import 'src/variables';

.wrapper {
    position: absolute;
    top: -100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: $animation;

    h1 {
        font-size: clamp(30px, 12vw, 100px);
        margin: 0;
        text-transform: uppercase;
        color: $blue;
    }

    img {
        width: clamp(290px, 90vw, 770px);
        transform: rotate(-5deg);
        height: auto;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: clamp(170px, 20vw, 250px);
        height: clamp(170px, 20vw, 250px);
        border: none;
        background-color: transparent;
        font-size: clamp(150px, 20vw, 200px);
        cursor: pointer;

        svg path {
            transition: $animation;
            stroke: $red;
            fill: $blue;
        }

        &:hover svg path,
        &:focus svg path,
        &:active svg path {
            stroke: $active_red;
            fill: $active_blue;
            stroke-width: 2.5;
        }
    }
}

.open {
    top: 0;
    opacity: 1;
}